@use "sass:color";

$color1: #3e609c;
$color2: #ec672c;
$color3: #001253;
$color4: #fd841f;

$accent-a10:  #d9ddeb;
$accent-a20:  #b3bcd7;
$accent-a30:  #8d9cc3;
$accent-a40:  #677db0; 
$accent-a50:  $color1;
$accent-a60:  #344d7b;
$accent-a70:  #293a5b;
$accent-a80:  #1f283d;
$accent-a90:  $color3;

$primary-a10:  #ffe1d3;
$primary-a20:  #ffc3a8;
$primary-a30:  $color4;
$primary-a40:  #f68756;
$primary-a50:  $color2;
$primary-a60:  #b95325;
$primary-a70:  #883f1f;
$primary-a80:  #5a2c18;
$primary-a90:  #301a10;

$accent-color: $primary-a50;
$accent-color-bright: $primary-a20;
$accent-text-color: $primary-a90;
$warning-color: $accent-a50;
$primary-fg: $accent-a90;

$border: $primary-a50;
$text-on-accent: #fff;

$background: #fff;
$backdrop: #00000060;

$background-gradient-top: #dddddd;
$background-gradient-bottom: $primary-a10;

$button-background: $background;
$button-border: #e1e1e1;
$button-shadow: #555573;
$button-text: $color3;

$primary-button-background-border: $background;
$primary-button-background-top: $primary-a10;
$primary-button-background-bottom: $primary-a20;

$sekai-mode-background: $primary-a30;
$sekai-mode-border: $primary-a10;
$focus-mode-background: $accent-a30;
$focus-mode-border: $accent-a10;

$notification-background: $accent-a50;
$notification-text: #fff;

$solved-diamond-0: #FFEFB5;
$solved-diamond-1: #FFD642;

$first-diamond-0: #FB9CF7;
$first-diamond-1: #9CBFFF;
$first-diamond-2: #00FCBB;

$list-border: $border;
$list-item-frame: $border;
$list-label: $primary-a70;
$list-footer-bg: $primary-a70;
$list-footer-fg: $accent-a10;

$input-border: $border;
$input-shadow: #C5C5D2;
$input-background: $background;
$input-background-hover: rgba(0, 0, 0, 0.1);

$grid-border: $border;
$grid-footer: $primary-a10;
$cell-icon-shadow: $primary-a40;

$home-gradient-end: $primary-a10;
$countdown-background: $accent-a20;
$text-shadow: rgba(0, 0, 0, 0.4);

$profile-meta-box: $primary-a10;

$active-selection-background: $accent-a20;
$challenge-list-background: $primary-a30;

$title-shadow: $accent-a30;
